<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>dweet2ser status</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css')}}" />
    </head>
    <body>
        <div class="menu_bar">
            <button onclick="openForm('addRemote')">Add Remote Device</button>
            <div class="form-popup" id="addRemote">
                <form action="/add_remote" method="POST" class="form-container">
                    <h1>Add Remote</h1>
    
                    <input type="text" placeholder="Enter Name" name="name" required>
    
                    <input type="text" placeholder="Enter Dweet ID" name="thing_id" required>
                    
                    <input type="radio" id="DCE" name="mode" value="DCE" checked>
                    <label for="DCE">DCE</label>
                    <input type="radio" id="DTE" name="mode" value="DTE">
                    <label for="DTE">DTE</label>

                    <label>
                        <input type="checkbox" name="mute"/>Mute?
                    </label>
    
                    <button type="submit" class="btn">Add</button>
                    <button type="button" class="btn cancel" onclick="closeForm('addRemote')">Close</button>
                </form>
            </div>
            <button onclick="openForm('addLocal')">Add Local Device</button>
            <div class="form-popup" id="addLocal">
                <form action="/add_local" method="POST" class="form-container">
                    <h1>Add Local</h1>
    
                    <input type="text" placeholder="Enter Name" name="name" required>
    
                    <input type="text" placeholder="Enter Port" name="port" required>

                    <input type="radio" id="DCE" name="mode" value="DCE" checked>
                    <label for="DCE">DCE</label>
                    <input type="radio" id="DTE" name="mode" value="DTE">
                    <label for="DTE">DTE</label>
                    
                    <label for="baud">Baudrate:</label>
                    <select id="baud" name="baud">
                        <option value="9600">9600</option>
                        <option value="1200">1200</option>
                        <option value="2400">2400</option>
                        <option value="4800">4800</option>
                    </select>
                    
                    <label>
                        Mute? <input type="checkbox" name="mute"/>
                    </label>
    
                    <button type="submit" class="btn">Add</button>
                    <button type="button" class="btn cancel" onclick="closeForm('addLocal')">Close</button>
                </form>
            </div>
        </div>
        <div class="main_window">
            <div class="status">
                <div class="title"><h1>dweet2ser</h1></div>
                <div class="subtitle">From config file: {{ file }}</div>

            </div>
            <div class="device_window">
                
                {% for d in bus.dce_devices %}
                <div class="device">
                    {% if d.type == "serial" %}
                        <table class="serial_device">
                            <tr><td class="timing_tape" colspan="2"><div>{{ d.tape }}</div></td></tr>
                            <tr><th colspan="2">{{ d.name }}</th></tr>
                            <tr><th>Port:</th><td>{{ d.port_name }}</td></tr>
                            <tr><th>Baud:</th><td>{{ d.baudrate }}</td></tr>
                            <tr><th>Muted?</th><td>{{ d.mute }}</td></tr>
                        </table>
                    {% endif %}
                    {% if d.type == "dweet" %}
                        <table class="dweet_device">
                            <tr><td class="timing_tape" colspan="2"><div>{{ d.tape }}</div></td></tr>
                            <tr><th colspan="2">{{ d.name }}</th></tr>
                            <tr><th>Dweet ID:</th><td>{{ d.thing_id }}</td></tr>
                            <tr><th>Locked?</th><td>{{ d.locked }}</td></tr>
                            <tr><th>Muted?</th><td>{{ d.mute }}</td></tr>
                        </table>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="console" id="console">
                {% for line in console %}
                <pre>{{ line }}</pre>
                {% endfor %}
            </div>
        </div>
        
        

        <script>
            var autoscroll_elements = ["timing_tape div", "console"]
            function openForm(id) {
                var elements = document.getElementsByClassName("form-popup");
                for(var i=0; i<elements.length; i=i+1){
                    elements[i].style.display = "none";
                }
                document.getElementById(id).style.display = "flex";
            }
            
            function closeForm(id) {
                document.getElementById(id).style.display = "none";
            }

            function scrollTapes(){
                var elements = document.querySelectorAll(".timing_tape div");
                for(var j=0; j<elements.length; j=j+1){
                    var item = elements[j];
                    item.scrollTop = item.scrollHeight;
                }  
            }

            function scrollConsole(){
                element = document.getElementById("console")
                element.scrollTop = element.scrollHeight;
            }

            setInterval(scrollTapes, 1000);
            setInterval(scrollConsole, 1000) 
                
            
        </script>
    </body>
</html>